.venv
.idea
*.onnx
__pycache__
output/
lightning_logs/
train_output/
doc/*
!doc/JGR/
!doc/Paper/
doc/JGR/*
doc/Paper/*
!doc/JGR/agujournaltemplate.tex
!doc/JGR/.latexmkrc
!doc/JGR/images/
!doc/JGR/images/**
!doc/JGR/template/
!doc/JGR/template/**
doc/JGR/build/
!doc/Journal_of_Remote_Sensing/main.tex
!doc/Journal_of_Remote_Sensing/main-zh.tex
!doc/Journal_of_Remote_Sensing/simple.tex
!doc/Paper/paper.tex

out/
wandb_logs/
src/wandb/
wandb/