.venv
.idea
*.onnx
__pycache__
output/
lightning_logs/
train_output/
doc/*
!doc/JGR/
!doc/Paper/
doc/JGR/*
doc/Paper/*
!doc/JGR/agujournaltemplate.tex
!doc/JGR/references.bib
!doc/Paper/paper.tex

out/
wandb_logs/
src/wandb/
wandb/